    .container {
        width: 100%;
    }
    /*----------------icons--------------*/
    
    .fa {
        margin-right: 10px;
    }
    /*-----------NAV---------------------*/
    
    .left-menu {
        background-color: rgb(35, 32, 49);
        color: #ffffff;
    }
    
    .left-menu li {
        border-bottom: 1px solid gray;
        padding: 10px 0px;
    }
    
    td.pending {
        background-color: #63c16a;
        color: white;
    }
    
    td.closed {
        background-color: #0f87ab;
        color: white;
    }
    /* arreglo z-index calendar */
    
    .AnyTime-pkr {
        z-index: 9999;
    }
    /* -------- forms -------------*/
    
    .panel-primary {
        border-color: #0c968f;
    }
    
    .panel-primary>.panel-heading {
        background-color: #0c968f;
        border-color: #0c968f;
    }
    
    .input-group {
        margin: 15px 0;
    }
    
    .outbound .input-group-addon {
        background-color: #0c968f;
        border: 1px solid #0f7e78;
        color: #ffffff;
    }
    
    .outbound {
        background-color: #dce2e2;
        padding: 30px 0px 15px 0px;
    }
    
    .return {
        background-color: #dccaa8;
        padding: 30px 0px 15px 0px;
    }
    
    div.return:first-of-type {
        margin-top: 50px;
    }
    
    .return .input-group-addon {
        background-color: #dba33b;
        border: 1px solid #dba33b;
        color: #ffffff;
    }
    
    .form-horizontal .control-label {
        padding-top: 20px;
    }
    /* cambios----------*/
    
    .table>tbody>tr>td.warning {
        background-color: #f1411a;
        color: #ffffff;
    }
    
    .table>tbody>tr>td.green {
        background-color: #17af22;
        color: #ffffff;
    }
    
    .blue {
        color: #044c46;
        background-color: #dfe6e4;
    }
    /*------------PASAGEROS------------------*/
    
    td>.list-group {
        overflow-y: auto;
        height: 250px;
    }
    /*--------------MEDIA QUERIES---------------------*/
    
    @media (min-width: 990px) {
        .left-menu {
            padding: 0px;
        }
    }